<!DOCTYPE html>

<html lang="en">

<head th:replace="fragments/headTag :: headTag">
    
    <!-- ============================================================================ -->
    <!-- This <head> is only used for static prototyping purposes (natural templates) -->
    <!-- and is therefore entirely optionl, as this markup fragment will be included  -->
    <!-- from "fragments.html" at runtime.                                            -->
    <!-- ============================================================================ -->
        
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PetClinic :: a Spring Framework demonstration</title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../../../resources/css/petclinic.css"
          th:href="@{/resources/css/petclinic.css}" rel="stylesheet" />
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
            th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}" 
          rel="stylesheet" />
          
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader">
    
        <!-- =========================================================================== -->
        <!-- This div is only used for static prototyping purposes (natural templates)   -->
        <!-- and is therefore entirely optionl, as this markup fragment will be included -->
        <!-- from "fragments.html" at runtime.                                           -->
        <!-- =========================================================================== -->
    
        <img th:src="@{/resources/images/banner-graphic.png}" 
             src="../../../resources/images/banner-graphic.png"/>
        
        <div class="navbar" style="width: 601px;">
            <div class="navbar-inner">
                <ul class="nav">
                    <li style="width: 100px;"><a 
                        href="../welcome.html" th:href="@{/}"><i 
                        class="icon-home"></i>Home</a></li>
                    <li style="width: 130px;"><a 
                        href="../owners/findOwners.html" th:href="@{/owners/find.html}"><i
                        class="icon-search"></i>Find owners</a></li>
                    <li style="width: 140px;"><a 
                        href="../vets/vetList.html" th:href="@{/vets.html}"><i
                        class="icon-th-list"></i>Veterinarians</a></li>
                    <li style="width: 90px;"><a 
                        href="../exception.html" th:href="@{/oups.html}" 
                        title="trigger a RuntimeException to see how it is handled"><i
                        class="icon-warning-sign"></i>Error</a></li>
                    <li style="width: 80px;"><a 
                        href="#" title="not available yet. Work in progress!!"><i 
                        class=" icon-question-sign"></i>Help</a></li>
                </ul>
            </div>
        </div>
            
    </div>
    

    <h2>Miles</h2>
   <form th:object="${searchMiles}" action="mileList.html" th:action="@{/miles/find}" method="get" class="form-horizontal"
               id="search-owner-form">
        <fieldset>
            <div class="form-actions" id="searchText">
                <input type="text" th:field="*{searchText}" size="30" maxlength="80"/>
                <button type="submit">Search</button>
            </div>
        </fieldset>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Milestone</th>
                <th style="width: 200px;">Comments</th>
                <th>Finish  by</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mile : ${selections}">
                <td>
                    <a href="mileDetails.html"
                       th:href="@{|/miles/${mile.mileId}|}"
                       th:text="${mile.milestone}">[Milestone]</a>
                </td>
                <td th:text="${mile.comments}">45, Oxford Street</td>
                <td th:text="${mile.finishBy}">Cambridge</td>
                <td th:text="${mile.priority}">555-555-555</td>
            </tr>
        </tbody>
    </table>    
   <div class="form-actions">
    	<a th:href="@{'new'}" href="../miles/addOrUpdateMile.html"  class="btn btn-success">Add a Mile</a>
   </div>  	
   
    <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
    <table th:replace="fragments/footer :: footer" class="footer">
    
        <!-- =========================================================================== -->
        <!-- This table section is only used for static prototyping purposes (natural    -->
        <!-- templates) and is therefore entirely optionl, as this markup fragment will  -->
        <!-- be included from "fragments.html" at runtime.                               -->
        <!-- =========================================================================== -->
        
        <tr>
            <td></td>
            <td align="right">
               <img src="../../../resources/images/springsource-logo.png"
                    th:src="@{/resources/images/springsource-logo.png}" 
                    alt="Sponsored by SpringSource" />
            </td>
        </tr>
        
    </table>

</div>

</body>

</html>
